<%= bootstrap_form_for @user do |f| %>
<div>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.email_field :email %>
</div>
<div>
  <%= f.password_field :password%>
</div>
<div>
  <%= f.password_field :password_confirmation %>
</div>
<%= f.submit %>
<% end %>
