<% @posts.each do |post| %>

<hr>
<h4><%= post.title %></h4>
<p><%= post.body %></p>
<div><strong>By</strong> <%= post.user.full_name %></div>
<div>
  <div>
    <%= link_to 'Join' %>
    <%= link_to 'Like' %>
  </div>
  <div class='pull-right'>Likes 0</div>
  <div class='pull-right'> | </div>
  <div class='pull-right'>Members 0</div>
  <div>

    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  </div>
<% end %>

<br>
