<% @posts.each do |post| %>

<hr>
<h4><%= post.title %></h4>
<p><%= post.body %></p>
<div><strong>By</strong> <%= post.user.full_name %></div>
<div><strong>Created</strong> : <%= post.created_at %></div>
<div>

  <div>

  <% if user_signed_in? %>
    <% user_join = post.member_for current_user %>
    <% if user_join.present? %>
      <%= link_to "Leave", post_member_path(post, user_join), method: :delete %>
    <% else %>
      <%= link_to "Join", post_members_path(post), method: :post %>
    <% end %>
  <% else %>
    Join
  <% end %>

    <% if user_signed_in? %>
      <% user_like = post.like_for current_user %>
      <% if user_like.present? %>
        <%= link_to "Un-Like", post_like_path(post, user_like), method: :delete %>
      <% else %>
        <%= link_to "Like", post_likes_path(post), method: :post %>
      <% end %>
    <% else %>
      Like
    <% end %>
  </div>

  <div class='pull-right'>
    <%= pluralize post.likes.count, "Like" %>
  </div>
  <div class='pull-right'> | </div>
  <div class='pull-right'>
    <%= pluralize post.members.count, "Member" %>
  </div>

  <div>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>

<br>
