<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <p id="notice"><%= notice %></p>
      <a href="/">
        <h2>Idea Factory</h2>
      </a>

      <div class='pull-right'>
        <% if user_signed_in? %>
        Hello <%= current_user.full_name %>
        <%= link_to "Sign Out", sessions_path, method: :delete, class:"btn btn-default" %>
      <% else %>
        <%= link_to "Sign Up", new_user_path%>
        <%= link_to "Sign In", new_session_path %>
        <% end %>
      </div>

      <div class='pull-right'>
      </div>

      <br>
      <br>

      <%= link_to '', new_post_path ,class: "btn btn-default glyphicon glyphicon-plus pull-right"%>

      <br>
      <br>

      <%= yield %>

    </div>
  </body>
</html>
